#signin_block {

    padding: 20px 50px 20px 50px;
    text-align: center;
    position: fixed;
    background: aliceblue;
    border: darkturquoise solid;
    border-radius: 7px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

